.root{
    -fx-font: bold 12pt "Arial";
    -fx-text-fill: slateblue;
    -fx-base: slateblue;
    -fx-background: white;
}

.button {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font: bold italic 12pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-background-color: slateblue;
    -fx-text-fill: white; 
}
.button:hover{
    -fx-background-color: linear-gradient(to bottom, slateblue, #9E9BE4);
}
.button:pressed{
    -fx-background-color:  #9E9BE4;
}

#whitebutton {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: white;
    -fx-text-fill: slateblue;
}
#whitebutton:hover {
    -fx-background-color: linear-gradient(to bottom, white, #EAEAF9);

}
#whitebutton:pressed {
    -fx-background-color: #EAEAF9;
}


.text-field{
        -fx-text-fill: slateblue;
}
.password-field{
        -fx-text-fill: slateblue;
}
.label{
    -fx-text-fill: slateblue;
}
.radio-button{
    -fx-text-fill: slateblue;
    -fx-border-width: 2px;
    -fx-border-color: slateblue;
    -fx-background-color: white;
    -fx-border-radius: 15px;
        -fx-background-radius: 15px;

    -fx-padding: 4px;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-border-color: #EAEAF9;
}
#header {
    -fx-text-fill: white;
    -fx-font-size: 16pt; 
}

#whitebutton {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: white;
    -fx-text-fill: slateblue; 
}

#footertext {  
    -fx-text-fill: white; 
}   

.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, white, #9E9BE4);
    -fx-border-color: slateblue;
    -fx-border-radius: 7px 7px 0px 0px;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
        -fx-font: 10pt "Arial";

}
.table-row-cell: hover {
    -fx-background-color: white;
    -fx-text-background-color: slateblue;
}
.table-row-cell: selected {
    -fx-background-color: slateblue;
    -fx-text-background-color: slateblue;
}
.table-row-cell: odd{
    -fx-background-color: #EAEAF9;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #9E9BE4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, slateblue, #9E9BE4);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, slateblue, #9E9BE4);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: slateblue;
}

.tab-pane .tab
{
    -fx-border-color: slateblue;
    -fx-background-color:  linear-gradient(to bottom, slateblue, #9E9BE4);
    -fx-border-radius: 7px 7px 0px 0px;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 5px 20px 5px 20px;

}

.tab-pane .tab:selected
{
    -fx-border-color: slateblue;
    -fx-background-color:  linear-gradient(to bottom, white, #9E9BE4 );
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

#centertoolbar{
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

#searchbox{
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: slateblue;
    -fx-text-fill: slateblue;
    -fx-background-color: linear-gradient(to bottom, white, #9E9BE4);
}

// Background color of the control itself
.choice-box {
    -fx-border-color: slateblue;
    -fx-text-fill: slateblue;
    -fx-background-color: linear-gradient(to bottom, white, #9E9BE4);
      -fx-mark-color: slateblue;
}
.choice-box > .label { -fx-text-fill: slateblue; }
.choice-box .context-menu { -fx-background-color: white; }
.choice-box .menu-item:focused { -fx-background-color: slateblue; }
.choice-box .menu-item > .label { -fx-text-fill: slateblue; }
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.text-field {
    -fx-border-color: slateblue;
    -fx-text-fill: slateblue;
    -fx-background-color: linear-gradient(to bottom, white, #9E9BE4);
}
.date-picker .arrow-button:hover {
	-fx-background-color: #9E9BE4;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: #9E9BE4;
}
.date-picker .cell:focused {
	-fx-background-color: #9E9BE4;
}
.date-picker .selected:focused {
	-fx-background-color: #9E9BE4;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: #9E9BE4;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: #9E9BE4;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
